body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: xx-large;
  margin: auto;
  min-height: 100vh;
}

header {
  flex: 1;
  margin: auto;
}

header p {
  margin-top: 0;
}

h1 {
  font-family: 'Martel Sans', sans-serif;
  margin-bottom: 0;
  text-align: center;
}

#render-point {
  flex: 3;
}

.clock-container {
  margin: auto;
}

.clock {
  font-family: 'Andada', serif;
  font-size: 2em;
  font-weight: bold;
}

.start-clock {
  background-color: #E8E8E8;
  border: 0;
  border-radius: 0;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

footer {
  font-size: small;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}
